body {
    background-color: lightgray;
    color: black;
    font-family: Arial, sans-serif;
    margin: 30px;
}

h1 {
    color: darkblue;
    font-family: Georgia, serif;
    text-align: center;
}

h2 {
    color: black;
    text-decoration: underline;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

ul {
    background-color: white;
    padding: 20px;
}

table {
    width: 70%;
    border-collapse: collapse;
    background-color: white;
    margin: auto;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: darkblue;
    color: white;
}